*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.estrutura-texto{

align-items: center;
font-size: larger;
width: 1900px;
height: 100px ;
justify-items: center;
display: flex;
flex-direction: row;
justify-content: space-evenly;
border-radius: 2px;
}

.estrutura-leyout{
    width: 600px;
    height: 84px;
    
}

.texto-banner{
    font-size: 50px;
    color: white;
}

.texto-diferente{
    font-size: 15px;
    color: beige;
}

.banner-img{

        height: 750px;
        width: 1840px;
        background-image: url("./assents/banner.jpg"); /* Ele adiciona uma imagem como fundo */
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 40px;
        margin-top: 20px;
        

}

.img-where{
    padding: 20px;
}
.titulo-h2{
    font-size: 30px;
    font-weight: bold; 
    color: #1a202c; 
}
.texto-title{
    font-size: 15px;
    font-weight: bold;
    color: #1a202c;
    margin-top: 10px;
    margin-bottom: 5px;
}

.texto-p-y{
    font-size: 10px;
}

.container-why{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px; 
    margin-left: 20px;
    
}

.section-why{
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}




.banner-m{

    height: 500px;
    width: 1100px;
    background-image: url("./assents/img-m.png"); 
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 20px; 
    padding: 40px; 
}

.section-banner{

  display: flex;
  justify-content: center;
  

}

.texto-banner2{

    color: #1e1e3f; 
    font-family: Arial, sans-serif; 
    font: bold 30px/1.2 Arial, sans-serif; 
    margin: 0 0 10px 0; 
    
}

.botao-banner{

  width: 130px;
  height: 40px;
  border-radius: 55px;
  border: none;
  background-color: chocolate;
  color: aliceblue;
  font-weight: bold;
  font-size: 19px;
  margin: 60px;
  margin-top: 1px;

}

.banner-estrutura2 {

    width: 220px;
    padding: 20px;
    padding-top: auto;

}

.banner-c{

    height: 500px;
    width: 1100px;
    background-image: url("./assents/text.png"); 
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 20px; 
    padding: 40px; 
}

.texto-banner3{

    color: white; 
    font-family: Arial, sans-serif; 
    font: bold 30px/1.2 Arial, sans-serif; 
    margin: 0 0 10px 0; 
    
}

.img-email{
    margin: 30px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #494949;
    background-color: #f7f3f1;
}

.footer-projeto{
    background-color: #f7f3f1;
    padding: 20px 0;
    font-size: 14px;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}


.colunas {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
}


.footer-column h3 {
    font-size: 16px;
    color: #494949;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
}

.footer-column ul li a {
    text-decoration: none;
    color: #494949;
    transition: color 0.2s;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}